/* FONT-FACE ROBOTO */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* FONT-FACE ROBOTO CONDENDSED */
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/") format("woff2"),
    url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


:root {
  --accent-color: #ff7500;
  --text-font: "Roboto", "Arial" sans-serif;
  --font-heading: "Roboto Condensed", "Roboto", "Arial", sans-serif
}


html{
  height: 100%;
  box-sizing:border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 16px;
  line-height: 0.5;
  font-family: var(--text-font);
  letter-spacing: 0.5em;
}

*:focus{
  outline: 3px dotted var(--accent-color);
  outline-offset: 3px;
}
/* CONTAINER */
.container{
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* SITE HEADER */
.site-header{
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 5px solid var(--accent-color);
  background-color: #fff;
}
.site-header-container{
  display:flex;
  justify-content:space-between; 
  align-items:center;
}
.logo-link{
  transition: opacity 0.4s ease;
}
.logo-link:hover{ 
  opacity: 0.8;
}
.logo-link:active{
  opacity:0.6;
}
.logo-link img{
  display: block;
}
.site-header-actions{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.sitenav-list{            
  display:flex;
  padding: 0;
  list-style: none;
  margin: 0;
  margin-right: 32px;
}
.sitenav-item{
  margin-right:32px;
}
.sitenav-item:last-child{
  margin-right:0;
}
.sitenav-link{
  font-family: var(--text-font);
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color:#000;
  transition: color 0.4s ease,
  opacity 0.4s ease;
}
.sitenav-link:hover{
  border-bottom: 3px solid var(--accent-color);
}
.sitenav-link:active{
  opacity:0.6;
}
.main-link{
  display:inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  background-color: var(--accent-color);
  color:#fff;
  text-decoration: none;
  transition: opacity 0.4s ease;
}
.main-link:hover{
  opacity:0.8;
}
.main-link:active{
  opacity:0.6;
}


/* HERO */
.hero{
  background:#252420;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
}
.hero-container{
  display:flex;
  align-items: center; 
  justify-content: space-between;
  position: relative;
}
.hero-content{
  width: 390px;
}
.orange-line{
  width: 80px;
  height: 3px;
  border: none;
  margin: 0;
  margin-bottom: 40px;
  background-color: var(--accent-color);
}
.hero-heading{
  font-family: var(--font-heading);
  font-size: 40px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 24px;
}
.hero-text{
  margin-top: 0;
  margin-bottom: 32px;
}
.hero-img{
  position: absolute;
  width: 510px;
  height: 510px;
  right: 20px;
  top: -40px;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);

} 
.hero-link{
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  color:#fff; 
  background-color: var(--accent-color);
  transition: opacity 0.4s ease;
}
.hero-link:hover{
  opacity:0.8;
}
.hero-link:active{
  opacity: 0.6;
}

/* FEATURE */
.feature{
  width: 340px;
}
.features{
  padding-top: 210px;
  padding-bottom: 210px;
  margin-right: 40px;;
}
.feature:last-child{
  margin-right:0;
}
.features-heading{
  font-family: var(--font-heading);
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom:72px;
}
.feature-icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
  border-radius: 50%;
  background-color: rgba(255,117, 0, 0.2)
}
.feature-heading{
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.1em;
}
.features-list{
  display:flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.feature-title{
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: var(--font-heading);
}
.feature-info{
  margin: 0;
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
}

/* PROMO */
.promo{
  padding-top: 120px;
  padding-bottom: 160px;
}
.promo-inner{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  border-radius: 12px;
  color:#fff;
  background-color: #252420;
}
.promo-content{
  width: 440px;
}
.promo-text{
  margin-top:0;
  margin-bottom: 12px;
}
.promo-text:last-child{
  margin-bottom:0;
}
.promo-info-wrapper{
  margin-bottom: 24px;
}
.promo-heading{
  font-family: var(--font-heading);
  font-size: 40px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 24px;
}
.promo-highlight{
  color: var(--accent-color);
}
.promo-img{
  width: 440px;
  height: 440px;
  object-fit: cover;
  border-radius: 12px;
  margin: -140px 0px 0px 0px;
}
.promo-link{
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  color:#fff;
  background-color: var(--accent-color);
  transition: opacity 0.4s ease;
}
.promo-link:hover{
  opacity:0.8;
}
.promo-link:active{
  opacity: 0.6;
}

/* FOOTER */
.site-footer{
  background-color:#f8f8f8;
}
.site-footer__top{
  display: flex;
  justify-content: space-between;
  align-items: center ;
}
.site-footer__logo-link {
  margin-right: 36px;
}
.site-footer__socials{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.socials-item{
  margin-right: 16px;
}
.socials-item:last-child{
  margin-right: 0;
}
.socials-link{
  display: block;
  color: #000;
}
.socials-icon{
  display: block;
}
.socials-link:hover{
  color:var(--accent-color);
  opacity: 0.8;
}
.socials-link:active{
  color: var(--accent-color);
  opacity: 0.6;
}

.site-footer__links{
  width: 224px;
  padding: 0;
  margin: 0;
  margin-right: 68px;
  list-style: none;
  line-height: 19px;
}
.site-footer__item{
  margin-bottom: 16px;
}
.site-footer__item:last-child{
  margin-bottom: 0;
}
.site-footer__links:last-child{
  margin-right:0;
}
.site-footer__item-link{
  color:#252420;
  text-decoration: none;
}
.site-footer__item-link:hover{
  color: var(--accent-color);
}
.site-footer__item-link:active{
  opacity: 0.6;
}
.site-footer__divider{
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
  margin: 0;
  margin-top: 40px;
  margin-bottom: 64px;
}
.site-footer__bottom{
  display: flex;
  padding-bottom: 30px;
}


/* MEDIA */
@media only screen and (max-width: 1200px) { 
  .hero-img {
    position: static;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 1140px) {
  .site-footer__links {
    width: 20.36%;
    margin-right: 6.18%;
  }
  .feature {
    width: 30%;
    margin-right: 5%;
  }
}

@media only screen and (max-width: 1000px) {
  .hero-img {
    width: 350px;
    height: 350px;
  }
  .hero-content {
    flex-grow: 1;
    margin-right: 60px;
  }
  .hero-heading {
    font-size: 36px;
  }
  .features {
    padding: 150px 0;
  }
}

@media only screen and (max-width: 800px) {
  .hero-img {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (max-width: 760px) {
  .hero-container {
    flex-direction: column-reverse;
  }
  .hero-img {
    margin-right: 0;
    margin-bottom: 54px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-right: 0;
  }
  .features {
    padding: 90px 0;
  }
  .features-heading {
    font-size: 54px;
    margin-bottom: 54px;
  }
  .site-footer__bottom {
    flex-wrap: wrap;
  }
  .site-footer__links {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 20px;
  }
  .site-footer__links:last-child {
    margin-right: 5%;
  }
  .site-footer__links:nth-child(3n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 650px) {
  .features-list { 
    flex-wrap: wrap;
  }
  .feature {
    width: 47%;
    margin-right: 6%;
    margin-bottom: 36px;
  }
  .feature:nth-child(2n) {
    margin-right: 0;
  }
  .feature-icon-wrapper {
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .site-footer__links {
    width: 46%;
    margin-right: 8%;
  }
  .site-footer__links:nth-child(3n) {
    margin-right: 8%;
  }
  .site-footer__links:nth-child(even) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 530px) {
  .feature {
    width: 100%;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 46px;
  }
  .orange-line {
    margin: 0 auto 20px;
  }
  .features-heading {
    width: 100%;
    text-align: center;
  }
  .site-footer {
    padding: 36px 0;
  }
  .site-footer__top {
    flex-direction: column;
  }
  .site-footer__logo-link {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .hero-img {
    max-width: 100%;
    height: auto;
    box-shadow: none;
  }
  .features {
    padding: 70px 0;
  }
  .features-heading {
    font-size: 36px;
  }
  .site-footer__links {
    width: 100%;
    margin-right: 0;
  }
  .site-footer__links:last-child {
    margin-bottom: 0;
  }
  .site-footer__links:nth-child(2n) {
    margin-right: 0;
  }
  .site-footer__links:nth-child(3n) {
    margin-right: 0;
  }
}