/* FONT-FACE ROBOTO */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* FONT-FACE ROBOTO CONDENDSED */
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


:root {
  --accent-color: #ff7500;
  --text-font: "Roboto", "Arial", sans-serif;
  --font-heading: "Roboto Condensed", "Roboto", "Arial", sans-serif
}


html{
  height: 100%;
  box-sizing:border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: var(--text-font);
  letter-spacing: 0.5px;
}

*:focus{
  outline: 3px dotted var(--accent-color);
  outline-offset: 3px;
}
/* CONTAINER */
.container{
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MENU */
.site-header__menu {
  display: none;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  z-index: 100;
  width: 20px;
  height: 23px;
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
}
.site-header__menu-line {
  width: 80%;
  height: 2px;
  transform: scale(1);
  background-color: #000;
}

.site-header__menu::before,
.site-header__menu::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  transition: all 0.3s ease 0s;
}
.site-header__menu::before { top: 0;}
.site-header__menu::after {bottom: 0;}

.site-header__menu.menu--open .site-header__menu-line{
  transform: scale(0);
  background-color: #fff;
}
.site-header__menu.menu--open::before {
  top: 50%;
  background-color: #fff;
  transform: rotate(-45deg) translate(0, -50%);
}
.site-header__menu.menu--open::after {
  background-color: #fff;
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

/* SITE HEADER */
.site-header{
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 5px solid var(--accent-color);
  background-color: #fff;
}
.site-header-container{
  display:flex;
  justify-content:space-between; 
  align-items:center;
}
.logo-link{
  transition: opacity 0.4s ease;
}
.logo-link:hover{ 
  opacity: 0.8;
}
.logo-link:active{
  opacity:0.6;
}
.logo-link img{
  display: block;
}
.site-header-actions{
  display:flex;
  align-items: center;
}
.sitenav-list{            
  display:flex;
  padding: 0;
  list-style: none;
  margin: 0;
  margin-right: 32px;
}
.sitenav-item{
  margin-right:32px;
}
.sitenav-item:last-child{
  margin-right:0;
}
.sitenav-link{
  font-family: var(--text-font);
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color:#000;
  transition: color 0.4s ease,
  opacity 0.4s ease;
}
.sitenav-link:hover{
  border-bottom: 3px solid var(--accent-color);
}
.sitenav-link:active{
  opacity:0.6;
}
.main-link{
  display:inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  background-color: var(--accent-color);
  color:#fff;
  text-decoration: none;
  transition: opacity 0.4s ease;
}
.main-link:hover{
  opacity:0.8;
}
.main-link:active{
  opacity:0.6;
}


/* HERO */
.hero{
  background:#252420;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
}
.hero-container{
  display:flex;
  align-items: center; 
  justify-content: space-between;
  position: relative;
}
.hero-content{
  width: 390px;
}
.orange-line{
  width: 80px;
  height: 3px;
  border: none;
  margin: 0;
  margin-bottom: 40px;
  background-color: var(--accent-color);
}
.hero-heading{
  font-family: var(--font-heading);
  font-size: 40px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 24px;
}
.hero-text{
  margin-top: 0;
  margin-bottom: 32px;
}
.hero-img{
  position: absolute;
  width: 510px;
  height: 510px;
  right: 20px;
  top: -40px;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);

} 
.hero-link{
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  color:#fff; 
  background-color: var(--accent-color);
  transition: opacity 0.4s ease;
}
.hero-link:hover{
  opacity:0.8;
}
.hero-link:active{
  opacity: 0.6;
}

/* FEATURE */
.feature{
  width: 340px;
}
.features{
  padding-top: 210px;
  padding-bottom: 210px;
  margin-right: 40px;;
}
.feature:last-child{
  margin-right:0;
}
.features-heading{
  font-family: var(--font-heading);
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom:72px;
}
.feature-icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
  border-radius: 50%;
  background-color: rgba(255,117, 0, 0.2)
}
.feature-heading{
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.1em;
}
.features-list{
  display:flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.feature-title{
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: var(--font-heading);
}
.feature-info{
  margin: 0;
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
}

/* PROMO */
.promo{
  padding-top: 120px;
  padding-bottom: 160px;
}
.promo-inner{
  position: relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  color:#fff;
  border-radius: 12px;
  background-color: #252420;
}
.promo-content{
  width: 440px;
}
.promo-text{
  margin-top:0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.promo-text:last-child{
  margin-bottom:0;
}
.promo-info-wrapper{
  margin-bottom: 24px;
}
.promo-heading{
  font-family: var(--font-heading);
  font-size: 40px;
  line-height: 48px;
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 24px;
}
.promo-highlight{
  color: var(--accent-color);
}
.promo-img{
  position: absolute;
  width: 440px;
  height: 440px;
  object-fit: cover;
  border-radius: 12px;
  right: 64px;
  top: -85px;
}
.promo-link{
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: bold;
  color:#fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  background-color: var(--accent-color);
  transition: opacity 0.4s ease;
}
.promo-link:hover{
  opacity:0.8;
}
.promo-link:active{
  opacity: 0.6;
}

/* FOOTER */
.site-footer{
  background-color:#f8f8f8;
}
.site-footer__top{
  display: flex;
  justify-content: space-between;
  align-items: center ;
}
.site-footer__logo-link {
  margin-right: 36px;
}
.site-footer__socials{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.socials-item{
  margin-right: 16px;
}
.socials-item:last-child{
  margin-right: 0;
}
.socials-link{
  display: block;
  color: #000;
}
.socials-icon{
  display: block;
}
.socials-link:hover{
  color:var(--accent-color);
  opacity: 0.8;
}
.socials-link:active{
  color: var(--accent-color);
  opacity: 0.6;
}

.site-footer__links{
  width: 224px;
  padding: 0;
  margin: 0;
  margin-right: 68px;
  list-style: none;
  line-height: 19px;
}
.site-footer__item{
  margin-bottom: 16px;
}
.site-footer__item:last-child{
  margin-bottom: 0;
}
.site-footer__links:last-child{
  margin-right:0;
}
.site-footer__item-link{
  color:#252420;
  text-decoration: none;
}
.site-footer__item-link:hover{
  color: var(--accent-color);
}
.site-footer__item-link:active{
  opacity: 0.6;
}
.site-footer__divider{
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
  margin: 0;
  margin-top: 40px;
  margin-bottom: 64px;
}
.site-footer__bottom{
  display: flex;
  padding-bottom: 30px;
}


/* MEDIA */
@media only screen and (max-width: 1200px) { 
  .hero-img {
    position: static;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 1140px) {
  .feature {
    width: 30%;
    margin-right: 5%;
  }
  .promo {
    padding-top: 0;
  }
  .promo-img {
    width: 380px;
    height: 380px;
  }
  .site-footer__links {
    width: 20.36%;
    margin-right: 6.18%;
  }
}

@media only screen and (max-width: 1000px) {
  .site-header-container {
    flex-direction: column;
  }
  .site-header-actions {
    width: 100%;
    margin-top: 12px;
    justify-content: center;
  }
  .hero-img {
    width: 350px;
    height: 350px;
  }
  .hero-content {
    flex-grow: 1;
    margin-right: 60px;
  }
  .hero-heading {
    font-size: 36px;
  }
  .features {
    padding: 150px 0;
  }
  .promo-content {
    margin-right: 36px;
  }
  .promo-img {
    position: static;
  }
}

@media only screen and (max-width: 900px) {
  .promo-inner {
    align-items: flex-start;
  }
  .promo-img {
    width: 320px;
    height: 320px;
  }
}

@media only screen and (max-width: 840px) {
  .promo-inner {
    flex-direction: column;
    margin: 0 -20px;
  }
  .promo-content {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }
  .promo-img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 22px;
  }
}

@media only screen and (max-width: 800px) {
  .hero-img {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (max-width: 760px) {
  .hero-container {
    flex-direction: column-reverse;
  }
  .site-header-actions {
    flex-direction: column;
  }
  .sitenav {
    width: 100%;
    margin-bottom: 12px;
  }
  .sitenav-list {
    margin-right: 0;
    justify-content: center;
  }
  .hero-img {
    margin-right: 0;
    margin-bottom: 54px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-right: 0;
  }
  .features {
    padding: 90px 0;
  }
  .features-heading {
    font-size: 54px;
    margin-bottom: 54px;
  }
  .promo {
    padding-bottom: 0;
  }
  .promo-inner {
    margin-right: -20px;
    margin-left: -20px;
    border-radius: 0;
  }
  .site-footer__bottom {
    flex-wrap: wrap;
  }
  .site-footer__links {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 20px;
  }
  .site-footer__links:last-child {
    margin-right: 5%;
  }
  .site-footer__links:nth-child(3n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 650px) {
  .features-list { 
    flex-wrap: wrap;
  }
  .feature {
    width: 47%;
    margin-right: 6%;
    margin-bottom: 36px;
  }
  .feature:nth-child(2n) {
    margin-right: 0;
  }
  .feature-icon-wrapper {
    margin-bottom: 16px;
  }
  .promo-inner {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .site-header-container {
    flex-direction: row;
  }
  .site-header-actions {
    display: none;
  }
  .site-header__menu {
    display: flex;
  }
  .menu-list--open{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: #252420;
    overflow-y: auto;
    top: -15px;right: 0;left: 0;bottom: 0;
    padding: 120px 40px;
    animation: menuAnimation 0.4s;
  }
  .menu-list--open .sitenav {
    margin-bottom: 20px;
  }
  .menu-list--open .sitenav-list {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .menu-list--open .sitenav-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .menu-list--open .sitenav-link {
    color:#fff;
    font-size: 24px;
  }
  .menu-list--open .main-link {
    max-width: 177px;
    margin: 0 calc(50% - 80px);
    white-space: nowrap;
  }
  .site-footer__links {
    width: 46%;
    margin-right: 8%;
  }
  .site-footer__links:nth-child(3n) {
    margin-right: 8%;
  }
  .site-footer__links:nth-child(even) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 530px) {
  .sitenav-list {
    flex-wrap: wrap;
  }
  .sitenav-item {
    width: 50%;
    margin-right: 0;
    text-align: center;
  }
  .feature {
    width: 100%;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 46px;
  }
  .orange-line {
    margin: 0 auto 20px;
  }
  .features-heading {
    width: 100%;
    text-align: center;
  }
  .site-footer {
    padding: 36px 0;
  }
  .site-footer__top {
    flex-direction: column;
  }
  .site-footer__logo-link {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .hero-img {
    max-width: 100%;
    height: auto;
    box-shadow: none;
  }
  .features {
    padding: 70px 0;
  }
  .features-heading {
    font-size: 36px;
  }
  .promo-img {
    width: 100%;
    height: 300px;
  }
  .site-footer__links {
    width: 100%;
    margin-right: 0;
  }
  .site-footer__links:last-child {
    margin-bottom: 0;
  }
  .site-footer__links:nth-child(2n) {
    margin-right: 0;
  }
  .site-footer__links:nth-child(3n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 350px) {
  .sitenav-item {
    width: 100%;
    margin-bottom: 12px;
  }
  .sitenav-item:last-child {
    margin-right: 0;
  }
  .logo-link img {
    max-width: 100%;
    height: auto;
  }
}

@keyframes menuAnimation {
  from {opacity: 0;}
  to {opacity: 1;}
}