*{
  box-sizing: border-box;
}
.body{
  padding: 0;
  margin: 0; 
  font-size: 16px;
  line-height: 0.5;
  font-family: "Roboto","Arial" sans-serif;
  letter-spacing: 0.5em;
}

*:focus{
  outline: 3px dotted #FF7500;
  outline-offset: 3px;
}
/* CONTAINER */
.container{
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* SITE HEADER */
.site-header{
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 5px solid #ff7500;
  background-color: #fff;
}
.site-header-container{
  display:flex;
  justify-content:space-between; 
  align-items:center;
}
.logo-link{
  transition: opacity 0.4s ease;
}
.logo-link:hover{ 
  opacity: 0.8;
}
.logo-link:active{
  opacity:0.6;
}
.logo-link img{
  display: block;
}
.site-header-actions{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.sitenav-list{            
  display:flex;
  padding: 0;
  list-style: none;
  margin: 0;
  margin-right: 32px;
}
.sitenav-item{
  margin-right:32px;
}
.sitenav-item:last-child{
  margin-right:0;
}
.sitenav-link{
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color:#000;
  transition: color 0.4s ease,
  opacity 0.4s ease;
 }
 .sitenav-link:hover{
  border-bottom: 3px solid #ff7500;
  /* color:#ff7500 */
 }
 .sitenav-link:active{
  opacity:0.6;
 }
.main-link{
  display:inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  background-color: #FF7500;
  color:#fff;
  text-decoration: none;
  transition: opacity 0.4s ease;
 }
 .main-link:hover{
  opacity:0.8;
 }
 .main-link:active{
  opacity:0.6;
 }
.hero{
  background:#252420;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
}
.hero-container{
  display:flex;
  align-items: center; 
  justify-content: space-between;
}
.hero-content{
  width: 390px;
}
.orange-line{
  width: 80px;
  height: 3px;
  border: none;
  margin: 0;
  margin-bottom:40px;
  background-color: #ff7500;
}
.hero-heading{
  font-family:"Roboto Condensed";
  font-size: 40px;
  line-height: 1.2;
  margin-top:0;
  margin-bottom: 24px;
}
.hero-text{
  margin-top: 0;
  margin-bottom: 32px;
}
.hero-img{
  position: relative;
  width: 510px;
  height: 510px;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
  margin: 0px 0px -140px 0px;
} 
.hero-link{
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  color:#fff; 
  background-color: #FF7500;
  transition: opacity 0.4s ease;
}
.hero-link:hover{
  opacity:0.8;
}
.hero-link:active{
  opacity: 0.6;
}

/* FEATURE */
.feature{
  width: 340px;
}
.features{
  padding-top: 210px;
  padding-bottom: 210px;
  margin-right: 40px;;
}
.feature:last-child{
  margin-right:0;
}
.features-heading{
  font-family: "Roboto Condensed";
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  margin-top: 0;
  margin-bottom:72px;
}
.feature-icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
  border-radius: 50%;
  background-color: rgba(255,117, 0, 0.2)
}
.feature-heading{
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.1em;
}
.features-list{
  display:flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.feature-title{
  margin-top:0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}
.feature-info{
  margin: 0;
}

/* PROMO */
.promo{
  padding-top: 120px;
  padding-bottom: 160px;
}
.promo-inner{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  border-radius: 12px;
  color:#fff;
  background-color: #252420;
}
.promo-content{
  width: 440px;
}
.promo-text{
  margin-top:0;
  margin-bottom: 12px;
}
.promo-text:last-child{
  margin-bottom:0;
}
.promo-info-wrapper{
  margin-bottom: 24px;
}
.promo-heading{
  font-family: "Roboto Condensed";
  font-size: 40px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 24px;
}
.promo-highlight{
  color: #ff7500;
}
.promo-img{
  width: 440px;
  height: 440px;
  object-fit: cover;
  border-radius: 12px;
  margin: -140px 0px 0px 0px;
}
.promo-link{
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  color:#fff;
  background-color: #FF7500;
  transition: opacity 0.4s ease;
}
.promo-lnnk:hover{
  opacity:0.8;
}
.promo-link:active{
  opacity: 0.6;
}

/* FOOTER */
.site-footer{
  background-color:#f8f8f8;
}
.site-footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center ;
}
.site-footer-socials{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.site-footer-socials li{
  margin-right: 16px;
}
  .site-footer-socials li:last-child{
    margin-right: 0;
  }
.site-footer-socials a{
  display: block;
  color: #000;
}
.site-footer-socials svg{
  display: block;
}
.site-footer-socials a:hover{
  color:#FF7500;
  opacity: 0.8;
}
.site-footer-socials a:active{
  color: #ff7500;
  opacity: 0.6;
}
.site-footer ul{
  list-style: none;
}
.site-footer-links{
  width: 224px;
  padding: 0;
  margin: 0;
  margin-right: 68px;
  list-style: none;
  line-height: 19px;
}
.site-footer-links li{
  margin-bottom: 16px;
}
.site-footer-links li:last-child{
  margin-bottom: 0;
}
.site-footer-links:last-child{
  margin-right:0;
}
.site-footer-links a{
  color:#252420;
  text-decoration: none;
}
.site-footer-links a:hover{
  color: #FF7500;
}
.site-footer-links a:active{
  opacity: 0.6;
}
.site-footer-divider{
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
  margin: 0;
  margin-top: 40px;
  margin-bottom: 64px;
}
.site-footer-bottom{
  display: flex;
  padding-bottom: 30px;
}